In [1]:
import pandas as pd
import numpy as np
import json
from datetime import datetime
import requests
import matplotlib.pyplot as plt
from prophet import Prophet
from sklearn.metrics import mean_absolute_error

/home/sam/Documents/projects/practice/fastapi/fastapi/lib/python3.7/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Importing plotly failed. Interactive plots will not work.

In [15]:
df = pd.read_csv("all_bills.csv")

In [16]:
df.head()

   Bill Doc No        Date  Amount
0  41600280341  2012-01-28     373
1  42601642814  2012-01-28     361
2  41200212762  2012-01-28     617
3  42400388164  2012-01-28    1143
4  42600376796  2012-01-28     993

In [17]:
df_one = df[df["Bill Doc No"] == 41600280341]

In [14]:
df_one.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48 entries, 0 to 2374675
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    48 non-null     object
 1   Amount  48 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.1+ KB

In [18]:
df_single = df_one.drop(columns=["Bill Doc No"])

In [19]:
df_single.head()

              Date  Amount
0       2012-01-28     373
50525   2012-02-28    2260
101050  2012-03-28     804
151575  2012-04-28    1730
202100  2012-05-28     960

In [21]:
df_single.columns = ["ds", "y"]

In [22]:
df_single.head()

                ds     y
0       2012-01-28   373
50525   2012-02-28  2260
101050  2012-03-28   804
151575  2012-04-28  1730
202100  2012-05-28   960

In [24]:
df_single.to_csv("single_bill.csv", index=False)